*{
    padding: 0;
    margin: 0;
    font-size: 0;
}
.body{
    width: 100%;
    height: 100%;
}
.top{
    width: 100%;
    height: 30%;
    position: relative;
}
.certern{
width: 100%;
height: 100%;
}
.certern img{
width: 100%;
height: 100%;
}
.fanhui{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.fanhui img{
    width: 100%;
    height: 100%;
}
.zhaoxiangji{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;   
}
.zhaoxiangji img{
    width: 100%;
    height: 100%;
}
.touxiang{
    height: 80px;width: 160px;
    position: absolute;    
    bottom: -20px;
    right: 20px;
}
.touxiang-img{
    position: absolute;
    height: 100%;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
    right: 0;
    display: inline-block;
}
.touxiang-img img
{
    height: 100%;
    width: 100%;
}
.nicheng{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 50%;
}
.touxiang p{
    position: absolute;
    font-size: 14px;
    display: inline-block;
    bottom: 25px;
    text-align: center;
    color: aliceblue;
}
.bottom{
    width: 100%;
}
.bottom::before{
    display: block;
    content: "";
    height: 30px;
    width: 100%;
    background-color: #fff;
}
.weui-panel__bd{
width: 100%;
height: 40%;
}
.weui-media-box__img
{
    max-height: 300px;
    width: 160px;
}
.weui-media-box__img img{
    /* height: 100%; */
    width: 100%;
}
.weui-media-box{
 position: relative;
}
.weui-media-box_appmsg .weui-media-box__hd{
    position: absolute;

    top: 16px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
}
.weui-media-box_appmsg .weui-media-box__bd{
    position: relative;
    /* left: -10px; */
    flex: 1;
}   
.weui-media-box__bd{
    position: relative;
    left: 56px;
}
.weui-media-box__title{
    color: blue;
}
.weui-media-box__desc{
    color: black;
}
.dianzanlan{
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    width: 100%;
}
/* .top::after{
    content: "";
    height: 30px;
    width: 100%;
    background-color: aliceblue;
} */
.botton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 35px;
    right: 0;
    right: 5px;
    position: absolute;
    background-color: gainsboro;
}
.yuan{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: dimgray;
    position: absolute;
    left: 10px;
}
.yuan-right{
    
    left: 20px;
}
.xuanxiang{
    display: inline-block;
    height:  40px;
    width: 120px;
    background-color: dimgray;
    position: absolute;
    /* right:  50px; */
    /* top: -40px; */
}
.xuanxianglan{

    position: absolute;
    right:  50px;
    height: 40px;
    width: 125px; 
}
.quxiaokuang{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 40px;
    left: 0;
    border-right: 0.2px solid #fff;
}
.h{
    position: absolute;
    top: 0;
    left: 0;
}

.pinglunkuang{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 40px;
    left: 60px;
    top: 0;
}
.b{
    position: relative;
    top: 1px;
    display: inline-block;
    /* position: absolute; */
    width: 20px;
    height: 20px;
    /* left: 0; */
}
.e{
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.a{
    display: inline-block;
    /* position: absolute; */
    max-width:  30px;
    height: 20px;
    /* left: 0; */
}
.b img{
    width: 100%;
    height: 100%;
}
.a p{
    font-size: 14px;
}
.xuanxiang-sanjiaoxing{
    position: relative;
    left: 120px;
display: inline-block;
    width: 0;

height: 0;

border-left: 5px solid dimgray;

}
/* .g{
    display: none;
} */
.quxiaolan{
    position: relative;
    /* top: -40px; */
}
/* .xuanxianglan{
    display: none;
} */
.time{
    position: absolute;
    left: 72px;
    height: 20px;
    width: 60px;
}
.time p{
    font-size: 14px;
    color: dimgray;
}
.dianzanxianshi{
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;

    position: relative;
}
.dianzanxianshikuang{
    background-color: gainsboro;
    display: flex;
    align-items: center;
    position: absolute;
    left: 72px;
    width: 81%;
    max-height: 26px;   
}
.dianzanren{
    padding: 5px;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 16px;
}
.dianzan-img{
    display: inline-block;
    width: 18px;
    height: 18px;
}
.dianzan-img img{
    width: 100%;
    height: 100%;
}
.dianzanmingzi{
    display: flex;
    align-items: center;
    
    max-width: 100%;
    height: 18px;
}
.dianzanmingzi p{
    font-size: 14px;
    color: #1296db;
}
.pinglunqu{
    position: relative;
    width: 100%;
    min-height: 10  px;
}
.pingluntext{
    position: relative;
    left: 72px;
    max-height: 100%;
    width: 81%;
}
.pingluntext p{
    font-size: 14px;
}
.name{
    display: inline-block;
    /* position: relative; */
    padding-right: 5px;
    color:#1296db ;
}
.text{
    word-wrap:break-word;
    display: inline;
    /* position: absolute; */
    /* top: 0; */
    /* left: ; */
    /* width: 100%; */
    /* height: 100%; */
}
.pingluninput{
    /* position: absolute; */
    /* top: ; */
    width: 100%;
    height: 30px;
    border: 1px solid dimgray;
}
.form{
    width: 100%;
    height: 100%;
}
.form input{
    vertical-align:top;
    display: inline-block;
    width: 80%;
    height: 28px;;
    font-size: 14px;
}
.form button{
    vertical-align:top;
    font-size: 14px;
    display: inline-block;
    height: 30px;
    width: 69px;
}
.aaa{
    display: block;
    /* min-height: 14px; */
}
/* .c {
    display: none; 
    }
.g{
    display: none;
} */
/* .h{
    display: none;
} */
.xuanxianglan{
    display: none;
}
.dianzanxianshi{
    display: none;
}
.quxianlan{
    display: none;
}
.dianzanlan{
    display: none;
}
/* .h{
    display: none;
}
.y{
    display: none;
} */
.onclick{
 display: none;
}
.pinglunqu{
    display: none;
}
.pingluntext{
    display: none;
}
.pingluninput{
    display: none;
}
.show{
    display: block;
}

