body {
  margin: 0;
  /* 最小长度为100vh vh：相对大小就是相对满屏100% */
  min-height: 100vh;
  /* 使本级变成弹性容器 */
  display: flex;
  /* 弹性容器专用属性子元素x轴居中 */
  justify-content: center;
  /* 弹性容器专用属性子元素y轴居中 */
  align-items: center;
  /* 背景颜色 图片 通常放背景图片的时候放一个与背景图片相似的背景颜色 因为浏览器加载图片需要时间弄一个相似的背景颜色看起来不会太突兀 */
  background: #4c4c4c url('https://unsplash.it/1500/900?image=1021');
  /* 设置背景图片  cover容器有多大图片就有多大 ps如果容器大小与图片大小不一样会影响像素 */
  background-size: cover;
}

.wrapper{
  width: 850px;
  /* 设置本级为弹性容器 */
  display: flex;
}

video {
  /* 加阴影 x轴偏移量为0 y轴偏移量为0 x轴大小为1px y为3px rgb为颜色 a为透明度 */
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
}

.speed {
  background: #efefef;
  /* 由于父级是一个弹性容器 因为第一个子级元素没有设置flex 所以是将video原本大小占据父级wrapper的大小 剩下的分给speed
  若两个都设置flex按照比例分大小 */
  flex: 1;
  /* 定位本级为弹性容器 */
  display: flex;
  /* 子元素就在弹性布局开始的时候布局位置 */
  align-items: flex-start;
  margin: 10px;
  /* 将角变圆 */
  border-radius: 50px;
  /* 设置阴影 */
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  /* 超出隐藏 */
  overflow: hidden;
}

.speed-bar{
  width: 100%;
  height: 16.3%;
  /* 背景颜色渐变 */
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  /* 设置本级为弹性容器 */
  display: flex;
  /* 子级元素居中 */
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: #fff;
  /* 当鼠标放在上面的时候  鼠标变成一个小手 */
  cursor: pointer;
}