/* 问题为啥设置了行类块级元素还需要设置定位 */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.centern{
    position: absolute;
    /* display: inline-block; */
    height: 100px;
    width: 160px;
}
.a{
    display: inline-block;
    height: 84px;
    margin-top: 20px;
    width: 84px;
    background-color : #fff;
}
.boy{
    position: relative;
    display: inline-block;
    height: 80px;
    /* margin-top: 20px; */
    width: 80px;
    border: 2px solid black;
    border-radius: 50%;
    /* z-index: 40; */
    background-color : #fff;
    /* overflow: hidden; */
    /* vertical-align: top; */
}
.face{
    position: absolute;
    /* background-color: black; */
    height: 80px;
    width: 60px;
    right: 0;
    top: 0;
    transform: translate(15px, 20px);
    z-index: 20;
    /* background-color: #fff; */
}
.eye{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 8px;
    border-radius: 50%;
    border-bottom: 2px solid black;
}
.eyer{
    /* position: absolute; */
    left: 32px ;
}
.zui{
    /* background-color: black; */
    width: 15px;
    height: 8px;
    position: absolute;
    top: 27px;
    left: 13px;
    border-radius: 50%;
    border-bottom: 2px solid black;
    animation: zui 3s forwards infinite;
}
@keyframes zui{
    0%{opacity: 1;}
    18.9%{opacity: 1;}
    19%{opacity: 0;}
    20%{opacity:0;}
    100%{opacity: 0;}
}
.zui1{
    /* display: block; */
    position: absolute;
    height: 20px;
    width: 12px;
    /* background-color: black; */
    top: 50%;
    left: 50%;
    transform: translate(-8px,-25px);
    opacity: 0;
    animation: zui1 3s forwards infinite;
}
@keyframes zui1{
    0%{opacity: 0;}
    18.9%{opacity: 0;}
    19%{opacity: 1;}
    20%{opacity: 1;}
    100%{opacity: 1;}
}
div.do {
    height: 10px;
    width: 12px;
    border-radius: 5px;
    border-right: 2px solid black;
}

.joy{
    position: absolute;
    /* top: 0; */
    display: inline-block;  
    height: 80px;
    width: 30px; 
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    z-index: 20;
    background-color: #fff;
}
.yuan{
    position: absolute;
    height: 50px;
    width: 10px;
    border-radius: 50px;
    border: 1px solid black;
    top: 20px;
    right: 0;
    z-index: 20;
    background-color: #fff;
}
.bang{
    position: absolute;
    height: 10px;
    width: 2px;
    background-color: black;
    top: 70px;
    right: 0;
    transform: translate(-5px);   
}
.pao{
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 80px;
    /* background-color: black; */
    /* top: 0; */
    margin-top: 20px;
    left: 63px;
    z-index: -20;
    /* opacity: 0; */
    /* animation: pao 3s ease infinite; */
}
@keyframes pao{
    0% {opacity: 0;transform: translate(0);}
    18.9%{opacity: 0;transform: translate(0);}
    19%{opacity: 1;transform: translate(0);}
    33%{opacity: 1 ; transform: translateX(10px);}
    43%{opacity: 1 ; transform: translateX(20px);}
    63%{opacity: 1 ; transform: translateX(30px);}
    83%{opacity: 1 ; transform: translateX(40px);}
    93%{opacity: 1 ; transform: translateX(50px);}
    100%{opacity: 1 ; transform: translateX(60px);}
}
.paopao{
    width: 45px;
    height: 45px;
    position: relative;
    /* top: 50px; */
    border:0.5px solid black;
    border-radius: 50%;
    left: 0px;
    top: 23px;
    /* z-index: -20; */
    opacity: 0;
    animation: pao 3s ease infinite;
}

