.item{
    width: 100%;
    position: absolute;
    display: flex;
    bottom: 0;
    background-color: #eee;
    z-index: 10;
    max-width: 100%;
}
.item-item{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-link{
    text-decoration: none;
}
.img{
    width: 20px;
    height: 20px;
    margin: auto;
}
.img img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}